/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e88e5;
  --ifm-color-primary-dark: #1976d2;
  --ifm-color-primary-darker: #1565c0;
  --ifm-color-primary-darkest: #0d47a1;
  --ifm-color-primary-light: #2196f3;
  --ifm-color-primary-lighter: #42a5f5;
  --ifm-color-primary-lightest: #64b5f6;
  --ifm-code-font-size: 95%;
  --aa-primary-color-rgb: #1e88e5 !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #42a5f5;
  --ifm-color-primary-dark: #2196f3;
  --ifm-color-primary-darker: #1e88e5;
  --ifm-color-primary-darkest: #1976d2;
  --ifm-color-primary-light: #64b5f6;
  --ifm-color-primary-lighter: #90caf9;
  --ifm-color-primary-lightest: #bbdefb;
  --aa-primary-color-rgb: #42a5f5 !important;
  --aa-muted-color-rgb: #1565c0 !important;
  --aa-selected-color-rgb: #64b5f6 !important;
  --aa-icon-color-rgb: #1976d2 !important;
}

.examples_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  overflow: hidden;
}

.examples_grid > div {
  overflow: auto;
  max-height: 500px;
}

.aa-Autocomplete button {
  border-radius: 24px;
}